@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1{
    font-family: 'Merriweather', serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 50vh;
    background-color: hsl(39, 100%, 60%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.container > .inner{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin: 0 auto;
    gap: 2rem;
}

.desc{
    width: 45%;
}

.buttons{

}

.buttons a{
    text-decoration: none;
    color: white;
    background-color: rgba(165, 42, 42, 0.809);
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}

.container2{
    width: 100%;
    height: 50vh;
    background-color: hsl(231, 74%, 53%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.container2 .inner{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    text-align: left;
    gap: 2rem;
}

