@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../font/AppleSDGothicNeoR.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo";
}

body {
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 30px;
}

main * {
  width: 100%;
}

.title {
  margin: 60px 0 60px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.line {
  height: 1px;
  width: 100%;
  border: 1px dotted #333;
}

label {
  font-size: 16px;
}
input {
  height: 40px;
  margin-bottom: 20px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #333;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.1s linear;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #76f1a7;
}
.btn:active {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
}
.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}
/* 추가제거 의논 */
.modal-box::after {
  content: "영어대소문자,특수문자(!@#$%^*+=-),숫자(0-9)의 8이상 15이하";
  position: absolute;
  font-size: 12px;
  bottom: 58px;
}
.changeBtnInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
}

#changePw {
  width: 300px;
}
.changeBtn {
  align-self: self-start;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 6px 0;
  color: white;
  border: 1px solid #333;
}
.changeBtn:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #76f1a7;
}
.changeBtn:active {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}
