.swiper {
    width: 80%;
    height: 300px;
}



.swiper-slide.first {
    background-color: dodgerblue;
}

.swiper-slide.second {
    background-image: url('https://images.pexels.com/photos/15685803/pexels-photo-15685803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.swiper-slide.third {
    background-color: rgb(255, 86, 30);
}

.swiper-pagination-bullet {
    background-color: white;
    border: 1px solid black;
}

.swiper-pagination-bullet-active {
    /* --color: black; */
    background-color: var(--color, red); 
    width: 50px; 
    border-radius: 4px;
}


