.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  height: 100px;
}

.ul {
  display: flex;
  gap: 24px;
}

.img {
  width: 200px;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.iconCircle {
  width: 60px;
  height: 60px;
  justify-content: center;
}

.iconTextCircle {
  width: 200px;
  height: 60px;
  border: 2px solid black;
  justify-content: flex-start;
}

.userIconWrap {
  background-color: blue;
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 -2px;
}

.iconSize {
  width: 35px;
  height: 35px;
}

.icon {
  word-break: keep-all;
  font-weight: bold;
  font-size: 16px;
}
