.container {
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
}
.banner {
  background-color: #c6f3c9;
  height: 400px;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.imgWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bannerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bannerTitle {
  font-size: 40px;
  color: var(--main-color);
}
.bannerText {
  font-size: 16px;
  color: var(--main-color);
}

/* 쇼핑 Nav */
.shoppingNav {
  width: 100%;
  display: flex;
}
.navItem {
  height: 60px;
  width: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--main-color);
  border-right: 1px solid var(--main-color);
  font-weight: bold;
}
.navItem:last-child {
  border-right: none;
}
.selectedNav {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 840px) {
  .container {
    padding: 0 calc(14px * 5) 0 calc(14px * 5);
  }
}
