#stop{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

#stop:active{
    background-color: hsl(0, 100%, 75%);
}