* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 크롬계열에서 스크롤바 제거 */
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
  border: 10px solid #555;
  /* 파이어폭스 스크롤바 제거 */
  scrollbar-width: none;
  /* 익스플로러 스크롤바 제거 */
  -ms-overflow-style: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(10, 80vw);
  column-gap: 1rem;
  overflow: scroll;
  height: 90vh;
  scroll-snap-type: both mandatory;
}

.onDrag {
  scroll-snap-type: unset;
}

li {
  /* scroll-snap-align: start - center - end; */
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 5px;
}
