@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/font/AppleSDGothicNeoR.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: "AppleSDGothicNeo";
}

:root {
  --text-color: #303030;
  --serve-color: #ccc;
  --main-color: #76f1a7;
  --background-color: #ffffff;
}

/* header */
.header {
  display: flex;
  border-bottom: 2px solid var(--serve-color);
  height: 100px;
  width: 100%;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
}

.logo-bar {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-bar .hamburger {
  opacity: 0;
  font-size: 20px;
}

.category:not(.active) {
  width: 80%;
  height: 80px;
  background-color: var(--background-color);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  right: 0;
  top: 13px;

  padding-left: 20px;
  padding-right: 20px;
}

.category.active {
  flex-direction: column;
  background-color: var(--background-color);
}

a {
  font-size: 26px;
  letter-spacing: 2px;
  color: var(--text-color);
}
a:hover {
  color: var(--main-color);
  font-weight: 600;
}

/* 메인 사이즈를 넣을 때 참고해주세요 */
/* header, footer의 각각 height : 100px => 총합 200px을 빼준 값이 메인크기 입니다. */
.back {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

/* footer */
.footer {
  border-top: 2px solid var(--serve-color);
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 1;
  background-color: white;
}

.logo-symbol {
  height: 60%;
}

.logo-symbol img {
  width: 100%;
  height: 100%;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1080px) {
  .category:not(.active) {
    width: 80%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    right: 0;
    top: 10;

    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    font-size: 26px;
    letter-spacing: 0.5px;
    color: var(--text-color);
  }
}
@media screen and (max-width: 960px) {
  .logo-bar .hamburger {
    opacity: 100%;
    padding-right: 38px;
    font-size: 30px;
  }

  .category:not(.active) {
    display: none;
  }

  .category.active {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    height: calc(100vh - 200px);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: var(--background-color);
  }

  .category li {
    padding: 25px 0px;
  }

  a {
    font-size: 35px;
    color: var(--text-color);
  }

  .footer {
    border-top: 2px solid var(--serve-color);
    width: 100%;
    height: 100px;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
  }
}
