* {
  box-sizing: border-box;
}

html {
  font-family: pretendard;
  word-break: keep-all;
  font-size: 16px;
}

body {
  background-color: #000;
  color: #d9d9d9;
  margin: 0;
}

section {
  max-width: 1120px;
  width: 100%;
  margin: 80px auto;
  padding: 0 36px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  margin: 40px 0;
}

.featured {
  display: flex;
  gap: 40px;
}

.featured-thumb {
  flex-shrink: 0;
  /* 알아서 줄어들지 못하게 함 */
  border-radius: 24px;
}

.featured-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.featured-title {
  font-weight: 700;
  font-size: 40px;
  color: #d9d9d9;
  margin: 0;
}
.featured-description {
  margin: 0;
  color: #868686;
}
.featured-tag {
  background-color: #18181b;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  color: #565662;
  /* width값을 content만큼 잡아줌 */
  width: fit-content;
}
.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}
.playlist {
  flex-basis: 22%;
}
.playlist-thumb {
  /* 벗어난 이미지의 width 값을 100%를 줘서 div.playlist(item)에 종속되게 해서 flex-basis가 적용되게 한다. */
  width: 100%;
  border-radius: 16px;
}

.playlist-title {
  font-weight: 700;
  font-size: 24px;
  margin: 16px 0 8px;
}
.playlist-artist {
  color: #868686;
  margin: 0;
}

.artists {
  display: flex;
  gap: 32px;
}

.artist {
  width: 120px;
  text-align: center;
  border-radius: 50%;
  /* flex-shrink: 0; */
}

.artist-profile {
  width: 100%;
}
.artist-name {
  font-weight: 500;
  font-size: 24px;
  margin: 24px 0 0;
}

.stations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.station {
  width: 100%;
  border-radius: 16px;
  /* 이미지의 직접적인 종횡비를 맞춤 / 지금은 이미지 자체를 맞춰서 없어도 무방*/
  aspect-ratio: 1/1;
}

.charts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}
.charts-title {
  margin: 0;
}

.charts-see-all {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: #d9d9d9;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  /* 기본적인 ol태그에 달려있는 margin과 padding 제거 */
  margin: 0;
  padding: 0;
  gap: 32px;
}

.chart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.chart-cover {
  border-radius: 16px;
  /* flex-shrink: 0;
  flex-grow: 0; */
  flex: 0 0;
  /* 사진 크기가 다르면 직접 지정하든 뭐든 해야 맞추지 */
  /* width: 160px;
  height: 160px; */
}

.chart-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chart-rank {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chart-number {
  background-color: #1a1a1a;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  /* 숫자자리(content,text)가 달라지면 값이 달리져서 다른 방법을 사용해야 한다. */
  /* padding: 8px 16px; */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-change {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.chart-change.up {
  color: #d93045;
}

.chart-title {
  font-weight: 700;
  font-size: 32px;
}

.chart-artist {
  font-weight: 500;
  font-size: 24px;
  color: #868686;
}
@media screen and (max-width: 971px) {
  .playlist {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 757px) {
  .playlist {
    flex-basis: 47%;
  }
  /* 글씨 크기 때문에  flex-item이 줄어들지 않아서 반응형 처리해줬다. */
  .artist-name {
    font-size: 16px;
  }
}
