@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../font/AppleSDGothicNeoR.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo";
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 24px;
}

main * {
  width: 100%;
}

.title {
  margin: 24px 0;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.terms-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.terms-checkboxs {
  width: fit-content;
  align-self: flex-end;
}
.terms-checkbox-label {
  width: fit-content;
}
#terms-checkbox {
  width: 13px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form label {
  font-size: 20px;
}
.form input {
  height: 40px;
}
.sec {
  position: relative;
}
.id-dup-che-btn {
  width: fit-content;
  padding: 2px;
  border: 1px solid #303030;
  border-radius: 3px;

  position: absolute;
  right: 0;
  top: -5%;
}
.id-dup-che-btn:active {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.input-info {
  width: 200px;
  text-align: end;
  position: absolute;
  top: 100%;
  left: 67%;
  font-size: 12px;
  font-weight: 600;
  color: red;
}
.mid-tel-info {
  width: 100px;
  left: 13%;
}
.aft-tel-info {
  width: 100px;
  left: 29%;
}

.user-tel span {
  font-size: 20px;
}
.user-tel select {
  width: 80px;
  height: 30px;
  text-align: center;
}
.user-tel input {
  height: 17px;
  width: 80px;
  height: 30px;
  text-align: center;
}

.join-info {
  font-size: 12px;
  height: 35px;
  /* overflow: scroll; */
}
.register {
  font-weight: bold;
  background-color: #303030;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.register:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #76f1a7;
}
.register:active {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}
