.container {
  display: flex;
  margin: 80px auto;
  width: 865px;
  gap: 40px;
}

.add-item {
  display: block;
  text-decoration: none;
  padding: 24px 48px;
  color: #464e5e;
  border: 2px dashed #dee3ec;
  border-radius: 8px;
  /* width: 100%; */
}
.add-item:hover {
  background-color: #f4f7fb;
}
.header > h1 {
  font-weight: 400;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 32px;
}
.header > h1 > .accent {
  font-weight: 800;
}
.header {
  padding: 80px 40px;
  background-color: #f5f7fb;
  color: #464e5e;
  text-align: right;
  border-radius: 80px;
  /* position: sticky;  :  일반적인 문서의 흐름을 타다가 설정한 곳이 넘어가면 화면에서 고정하는 역할*/
  position: sticky;
  top: 20px;
}
.filter {
  background-color: #fff;
  cursor: pointer;
  padding: 8px 24px;
  /* illine 요소처럼 움직이는 flex */
  display: inline-flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.remove-icon {
  width: 12px;
  height: 12px;
}

.content {
  flex-grow: 1;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item {
  display: flex;
  padding: 16px 48px;
  color: #bfc8da;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.item:hover {
  background-color: #f4f7fb;
}
.item-id {
  width: 58px;
  flex-shrink: 0;
  margin-right: 40px;
}
.item-mbti {
  width: 76px;
  background-color: #f0f2f5;
  color: #464e5e;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin-right: 24px;
  flex-shrink: 0;
}
.item-arrow {
  width: 100%;
  height: 0px;
  border-bottom: 2px dashed #bfc8da;
  position: relative;
}

.item-arrow-icon {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 8px;
}
.item-color-chip {
  margin: 0 16px;
  width: 40px;
  height: 40px;
  border: 3px solid #e8e8e8;
  border-radius: 8px;
  flex-shrink: 0;
}
.item-color-code {
  flex-shrink: 0;
  width: 105px;
}

@media screen and (max-width: 944px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding: 24px 16px;
    gap: 24px;
    width: 100%;
  }
  .header-container {
    /* sticky는 부모요소의 영역! 안에서 작동 하는 얘임 */
    /* 컬럼을 줘서 부모 header-container이 없다. */
    position: sticky;
    top: 24px;
    z-index: 1000;
  }
  .header {
    padding: 32px;
    text-align: center;
    border-radius: 32px;
  }
  .header > h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .filter {
    padding: 4px 8px;
    gap: 8px;
  }
  .add-item {
    padding: 20px 24px;
  }
  .item {
    padding: 18px 16px;
  }
  .item-id {
    width: 37px;
    margin-right: 16px;
  }
  .item-mbti {
    /* box-size를 보더기준으로 안 했기에 수치상은 패딩이 더해진 값으로 나온다. 계산 필요. */
    width: 54px;
    margin-right: 16px;
  }
  .item-color-chip {
    margin: 0 8px 0 16px;
  }
  .item-color-code {
    width: 72px;
  }
}
