.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}
