@font-face {
  font-family: PicNic;
  src: url("../font/PicNic-Regular.woff") format(woff2),
    url("../font/PicNic-Regular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/font/AppleSDGothicNeoR.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-family: "AppleSDGothicNeo";
  font-size: 32px;
  font-weight: 400;
}

:root {
  --text: #303030;
  --seb1: #ccc;
  --main: #76f1a7;
  --background: #ffffff;
  --seb2: #6b2bf4;
}

body {
  overflow: hidden;
  height: 100vh;
}

/* 타이틀 */
.title {
  position: fixed;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0.9375rem;
  font-size: 2.5625rem;

  pointer-events: none;
}

.title h1 {
  line-height: 1;
  color: var(--seb1);
}

.title h2 {
  color: var(--seb1);
  font-family: "PicNic";
  margin-top: -0.23em;
  font-size: 2em;
}

/* contents */
.contents {
  width: 100vw;
  position: fixed;
  bottom: 130px;

  display: flex;
  justify-content: space-between;
}

.contents p {
  font-weight: lighter;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--seb1);
}

.contents p:first-child {
  text-align: left;
}
.contents p:last-child {
  text-align: right;
}

/* main */
.poster.background {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  background: var(--seb2);

  cursor: pointer;
  transition: all 0.1s linear;
}
.poster.background.active {
  background: var(--text);
}

/* 그라데이션 배경 */
.rainy-mood-holder {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.rainy-mood-holder > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50vh;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 1.04%,
    #92c4ff 51.04%,
    rgba(217, 217, 217, 0) 100%
  );
}

.rainy-mood-holder > div.active {
  transition: all 0.1s linear;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 1.04%,
    #535455 51.04%,
    rgba(217, 217, 217, 0) 100%
  );
}

.rainy-mood-holder > div:nth-child(1) {
  top: 50%;
  left: 0;
}
.rainy-mood-holder > div:nth-child(2) {
  bottom: 0;
  left: 50%;
}

/* 비 */
.raindrops {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.rain-holder {
  position: absolute;
  top: 0;
  left: 0;

  height: 35vh;
  width: 6vh;
}

.rain-holder svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.rain-holder svg path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s ease-in-out forwards infinite;
}

.raindrops .rain-holder:nth-child(1) {
  top: 0vh;
  left: 3vw;
}
.raindrops .rain-holder:nth-child(2) {
  top: 30vh;
  left: 11vw;
}
.raindrops .rain-holder:nth-child(3) {
  top: 60vh;
  left: 29vw;
}
.raindrops .rain-holder:nth-child(4) {
  top: 30vh;
  left: 55vw;
}
.raindrops .rain-holder:nth-child(5) {
  top: -4vh;
  left: 90vw;
}
.raindrops .rain-holder:nth-child(6) {
  top: -4vh;
  left: 90vw;
}
.raindrops .rain-holder:nth-child(7) {
  top: 46vh;
  left: 92vw;
}

/* 번개*/
.thunder {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
  opacity: 0;
  transition: all 0.1s linear;
}
.thunder.active {
  opacity: 1;
}

.thunder-holder {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.thunder-holder svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 300px;

  animation: blink-effect 0.8s step-end infinite, drop 1s infinite;
}

.thunder-holder svg path {
  position: absolute;
  top: 0;
  left: 0;
}

.thunder .thunder-holder:nth-child(1) {
  top: -4vh;
  left: 20vw;
}
.thunder .thunder-holder:nth-child(2) {
  top: 61vh;
  left: 73vw;
}

/* 구름 */
.cloudy {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.95;
  transition: all 0.1s linear;
}

.cloudy-holder {
  position: absolute;
  top: 0;
  left: 0;

  height: 50%;
  width: 50%;
}

.cloudy-holder svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  animation: move 3s infinite linear;
}

.cloudy .cloudy-holder:nth-child(1) {
  height: 30%;
  width: 30%;
  top: 5vh;
  left: 0vw;
}
.cloudy .cloudy-holder:nth-child(2) {
  top: 60vh;
  left: 5vw;
}
.cloudy .cloudy-holder:nth-child(3) {
  height: 35%;
  width: 35%;
  top: 80vh;
  left: 80vw;
}
.cloudy .cloudy-holder:nth-child(4) {
  height: 40%;
  width: 40%;
  top: 15vh;
  left: 90vw;
}

/* 뱃지 */

.badge {
  height: 100px;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 100px;

  cursor: pointer;

  z-index: 1;
}

.badge .qr-icon {
  width: 80px;
  height: 80px;

  position: absolute;
  bottom: 100px;
  right: 20px;

  animation: move2 1.5s infinite linear;
}

.badge .qr-icon:hover {
  filter: brightness(70%);
  transition: all 0.1s ease;
}

.badge .qr-img {
  width: 360px;
  height: 650px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 9.3%;
  right: 50%;
  transform: translate(50%, 9.3%);

  z-index: 1;

  transition: all 0.5s ease;
  display: none;
}
.badge .qr-img.modalMain {
  display: block;
}

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.overlay.modalMain {
  opacity: 1;
}

/* rain */
@keyframes dash {
  0% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.5;
  }
  100% {
    stroke-dashoffset: 0.5;
    stroke-dasharray: 1;
  }
}

/* thunder */
@keyframes drop {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes blink-effect {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* clody */
@keyframes move {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -56%);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
}

/* badge */
@keyframes move2 {
  0%,
  100% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, -60%);
  }
}
