img{
    /* 300x300px 만들어줘 - width height */
    width: 300px;
    height: 300px;
    /* border로 테두리 만들어주세여 */
    border: 3px solid rgb(242, 26, 148);
    /* padding 공간 만들어주세요 */
    padding: 10px;
    box-sizing: border-box;
}