*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 ;
}

h1{
    flex-basis: 50%;
    
}
nav{
    flex-basis: 50%;
}

ul{
    display: flex;

}