@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/font/AppleSDGothicNeoR.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "AppleSDGothicNeo";
  color: #303030;
}

:root {
  --text-color: #303030;
  --serve-color: #ccc;
  --main-color: #76f1a7;
  --background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ccc;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 상단 내브바, 로고 */

.header {
  display: flex;
  border-bottom: 2px solid var(--serve-color);
  height: 100px;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
}

.logo-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-bar .hamburger {
  opacity: 0;
  font-size: 20px;
}

.category:not(.active) {
  width: 80%;
  height: 80px;
  background-color: var(--background-color);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  right: -5px;
  top: 13px;

  padding-left: 20px;
  padding-right: 20px;
}

.category.active {
  flex-direction: column;
  background-color: var(--background-color);
}

.category li a {
  font-size: 26px;
  letter-spacing: 2px;
  color: var(--text-color);
}
a:hover {
  color: var(--main-color);
  font-weight: 600;
}

.category li:nth-child(5) a {
  color: #76f1a7;
  font-weight: 600;
}
.main_pay {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 648px;
  margin: 0px auto;
  padding: 20px;
  gap: 24px;
}
.title {
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 100%;
  /* background-color: #fcec4e; */
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  border-radius: 20px;
  /* overflow: hidden; */
  /* position: relative; */
}
.selected-card {
  box-shadow: 0px 0px 4px 4px red;
}
.card.card1 {
  background-color: #fcec4e;
  transition: all 0.15s linear;
}
.card.card1:hover {
  transform: scale(1.1);
}
.card.card2 {
  background-color: #3e8c7f;
  color: white;
  transition: all 0.15s linear;
}
.card.card2:hover {
  transform: scale(1.1);
}
.card.card3 {
  background-color: #2b66b1;
  color: white;
  transition: all 0.15s linear;
}
.card.card3:hover {
  transform: scale(1.1);
}
.card-up {
  position: relative;
  margin: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-up .card-title {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.card-up .card-title > img {
  width: 29px;
  height: 27px;
}
.card-up .fa-ellipsis-vertical {
  position: absolute;
  top: 10px;
  right: 20px;
  transform: translate(50%, 50%);
  font-size: 30px;
}

.card-hover {
  width: 240px;
  height: 100px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: #303030;
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  top: -100%;
  right: -100%;
  opacity: 0;
  /* display: none; */
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.card-up .fa-ellipsis-vertical:hover .card-hover {
  opacity: 1;
  pointer-events: auto;
  /* display: block; */
  /* visibility: visible; */
}

/* .card-mid {
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    color: #303030;
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    top: 34%;
    right: 15%;
    opacity: 0;
    transition: all 0.3s linear;
  } */

/* .card-mid-active {
    opacity: 1;
  } */

.register {
  width: 100%;
  height: 50px;
  background-color: #303030;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
  cursor: pointer;
}
.register:hover {
  background-color: #fff;
  border: 1px solid black;
  color: #76f1a7;
}
.register:active {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}
/* footer */
.footer {
  border-top: 2px solid var(--serve-color);
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
  background-color: white;
  margin-top: 100px;
}

.logo-symbol {
  height: 60%;
  cursor: pointer;
}

.logo-symbol img {
  width: 100%;
  height: 100%;
}

.footer p {
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 1080px) {
  .category:not(.active) {
    width: 80%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    right: 0;
    top: 10px;

    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    font-size: 26px;
    letter-spacing: 0.5px;
    color: var(--text-color);
  }
}
@media screen and (max-width: 960px) {
  .logo-bar .hamburger {
    opacity: 100%;
    padding-right: 38px;
    font-size: 30px;
  }

  .category:not(.active) {
    display: none;
  }

  .category.active {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    height: calc(100vh - 100px);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: var(--background-color);
  }

  .category li {
    padding: 25px 0px;
  }

  a {
    font-size: 35px;
    color: var(--text-color);
  }

  .footer {
    border-top: 2px solid var(--serve-color);
    width: 100%;
    height: 100px;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    bottom: 0; */
  }
}
