@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/font/AppleSDGothicNeoR.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "AppleSDGothicNeo";
  color: #303030;
}

body {
  height: 100vh;
}

ul {
  margin: 0;
}

:root {
  --text-color: #303030;
  --serve-color: #ccc;
  --main-color: #76f1a7;
  --background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ccc;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 상단 내브바, 로고 */

.header {
  display: flex;
  border-bottom: 2px solid var(--serve-color);
  height: 100px;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
}

.logo-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-bar .hamburger {
  opacity: 0;
  font-size: 20px;
}

.category:not(.active) {
  width: 80%;
  height: 80px;
  background-color: var(--background-color);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  right: -5px;
  top: 13px;

  padding-left: 20px;
  padding-right: 20px;
}

.category.active {
  flex-direction: column;
  background-color: var(--background-color);
}

.category li a {
  font-size: 26px;
  letter-spacing: 2px;
  color: var(--text-color);
}
a:hover {
  color: var(--main-color);
  font-weight: 600;
}

/* 카테고리 눌렀을 때 a색상 */
.category li:nth-child(3) a {
  color: #76f1a7;
  font-weight: 600;
}

/* Q&A 메인 */
.Accodion_main {
  padding: 100px 100px;
  font-size: 32px;
}
#Accordion_wrap {
  margin: 0 auto;
  width: 1200px;
  /* footer 고정 */
  height: auto;
  min-height: 100%;
  padding-bottom: 10px;
}

.que:first-child {
  border-top: 1px solid black;
}

.que {
  position: relative;
  padding: 24px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 32px;
}

.que::before {
  display: inline-block;
  content: "Q";
  font-size: 14px;
  color: #45dab6;
  margin: 0 5px;
}

.que.on > span {
  font-weight: bold;
  color: #45dab6;
}

.anw {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 10px;
  line-height: 2.2;
}

.anw::before {
  display: inline-block;
  content: "A";
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.que .arrow-top {
  display: none;
}

.que .arrow-bottom {
  display: block;
}

.que.on .arrow-bottom {
  display: none;
}

.que.on .arrow-top {
  display: block;
}

/* 고객센터 전화번호 */
.tel {
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 100px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: snow;
}

.tel i {
  font-size: 24px;
  color: #45dab6;
}

.telNum {
  width: 150px;
  height: 100px;
  background-color: #f4f4f2;
  position: fixed;
  bottom: 180px;
  right: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.open {
  opacity: 1;
}

.telNum p:nth-child(1) {
  font-weight: bold;
}
.telNum p:nth-child(2) {
  font-size: 20px;
}

.telNum::before {
  content: "";
  border: 1em solid transparent;
  border-top: 13px solid #f4f4f2;
  z-index: 0;
  position: fixed;
  bottom: 151px;
  right: inherit;
}

/* footer */
.footer {
  border-top: 2px solid var(--serve-color);
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
  background-color: white;
  /* margin-top: 100px; */

  /* footer 고정 */
  position: relative;
  transform: translateY(-100%);
}

.logo-symbol {
  height: 60%;
  cursor: pointer;
}

.logo-symbol img {
  width: 100%;
  height: 100%;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1080px) {
  .category:not(.active) {
    width: 80%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;

    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    font-size: 26px;
    letter-spacing: 0.5px;
    color: var(--text-color);
  }

  /* accordion Wrap */
  #Accordion_wrap {
    width: 900px;
  }
}
@media screen and (max-width: 960px) {
  .logo-bar .hamburger {
    opacity: 100%;
    padding-right: 38px;
    font-size: 30px;
  }

  .category:not(.active) {
    display: none;
  }

  .category.active {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    height: calc(100vh - 100px);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: var(--background-color);
  }

  .category li {
    padding: 25px 0px;
  }

  a {
    font-size: 35px;
    color: var(--text-color);
  }

  .footer {
    border-top: 2px solid var(--serve-color);
    width: 100%;
    height: 100px;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    bottom: 0; */
  }

  #Accordion_wrap {
    width: 500px;
  }
}
