*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: hsl(50, 100%, 50%);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 붙여 쓴다면 '동시에 가진'이란 뜻 */

/* class .container와 .reverse 를 동시에 가진 놈*/
.container.reverse{
    background-color: blue;
    color: white;
}
.container.reverse .inner{
    align-items: flex-start;
}
.container.reverse .inner p{
    text-align: left;
}


.container .inner{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}
.container .inner h2{
    font-size: 40px;
}
.container .inner p{
    text-align: right;
    width: 34ch;   /* character 문자를 기준 */
    font-size: 18px;
}

.container .inner .btu{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px 16px;
    border-radius: 1rem;
}

