*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.chevron{

}
.chevron-item{
    width: 20px;
    height: 20px;
    border-right: 3px solid rgb(239, 56, 10);
    border-bottom: 3px solid rgb(239, 56, 10);
    transform: translateY(5px) rotate(45deg);
    border-radius: 2px;
    /* margin의 음수값 사용 */
    margin-top: -10px; 
    animation: fadeDown 1s infinite alternate cubic-bezier(1, 0, 0, 1);
}
.chevron-item:nth-child(2){
    animation: fadeDown 1s 0.333s infinite cubic-bezier(1,0,0,1);
}
.chevron-item:nth-child(3){
    animation: fadeDown 1s 0.666s infinite cubic-bezier(1,0,0,1);

}
.dot{
    display: flex;
    gap: 8px;
}
.dot-item{
    width: 10px;
    height: 10px;
    border-radius:50% ;
    background-color: black;
    animation: bounce 1s infinite alternate cubic-bezier(1,0,0,1);
}
.dot-item:nth-child(2){
    animation: bounce 1s 0.33333s infinite alternate cubic-bezier(1,0,0,1);
}
.dot-item:nth-child(3){
    animation: bounce 1s 0.66666s infinite alternate cubic-bezier(1,0,0,1);
}

/* -----keyframes----- */
@keyframes fadeDown{
    0%{
        opacity: 0;
        transform: translateY(5px) rotate(45deg);
    }
    50%{
        opacity: 1;
        border-color: rgb(96, 20, 210);
    }
    100%{
        transform: translateY(0) rotate(45deg);
    }
}
@keyframes bounce{
    /* from=시작,처음 to=끝,~까지 */
    from{
        transform: translateY(0) scaleY(0.8);
        opacity: 0.2;
    }
    to{
        transform: translateY(-10px) scaleY(1);
        opacity: 1;
        
    }
}