@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../font/AppleSDGothicNeoR.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AppleSDGothicNeo";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 24px;
}

main * {
  width: 100%;
}

.title {
  margin: 80px 0 80px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.inputs {
  position: relative;
}

.inputs input {
  height: 40px;
  margin-bottom: 20px;
}
.search-id-password {
  position: absolute;
  top: 144px;
  font-size: 12px;
}

.login-register-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-btn,
.register-btn {
  background-color: #303030;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
