.ReviewFrom {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.ReviewFrom > :not(:last-child) {
  margin-bottom: 20px;
}

/* module.css 실험용 */
/* .App {
  background-color: purple;
} */
